body {
    margin: 0;
    font-size: 20px;
}

.TodoApp {
    background: #00bf8f;  
    background: -webkit-linear-gradient(to bottom, #001510, #00bf8f);  
    background: linear-gradient(to bottom, #001510, #00bf8f);
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
}
button, input {
    margin-left: 20px;
}
input { 
    padding: 10px 15px;
}
button {
    color: black;
    border: 2px solid #EC007A;
    width: 40px;
    height: 20px;
    background-image: #f857a6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ff5858, #f857a6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ff5858, #f857a6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    border-radius: 5%;
    
}
button:hover {
    cursor: pointer;
}

