body {
    margin: 0;
    font-size: 20px;
}

.TodoApp {
    background-color: #8E24AA;
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
}

button,
input {
    margin-left: 20px;
}

input {
    padding: 10px 15px;
    border-radius: 10px;
}

button {
    color: #fff;
    width: 40px;
    height: 20px;
    background-color: #00695C;
    border: none;
    border-radius: 5%;
}

button:hover {
    cursor: pointer;
}