* {
	box-sizing: border-box;
	margin: 0;
}
body {
	font-family: Roboto;
}
header {
	background-color: #313234;
}
header .container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
header>nav ul {
	margin: 0px;
	padding: 0;
	list-style-type: none;
	float: right;
}
 header>nav ul>li {
 	display: inline-block;
}
header>nav ul>li>a {
	line-height: 70px;
	padding: 0 20px;
	display: block;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}
header>nav ul>li> a:hover {
	background-color: #393b3a;
	color: #06c9e5;
}
header > nav img {
	padding: 20px 20px;
}
.hero {	
	width: 100%;
	height: calc(100vh - 70px);
	padding-top: 42vh;
	background: url(https://images.unsplash.com/photo-1499951360447-b19be8fe80f5?auto=format&fit=crop&w=1050&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
	background-size: cover;
	background-position: center;
	position: relative;
}
.slogan {
	float: right;
	max-width: 800px;
	background-color: rgba(0,0,0, 0.5)
}
.slogan h1 {
	color: #FFF;
	padding: 20px 100px 10px 35px;
	text-transform: uppercase;
	font-size: 36px;
	font-weight:300;
}
.bold {
	font-weight: 900;
}
.circles {
	position: absolute;
	right: calc(50% - 68px);
	bottom: 20px;
	}
.circle {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background-color: #807F7D;
	display: inline-block;
	margin: 10px;
}
.circle:hover {
	background-color: #fff;
}
.row::before,
.row::after {
	content:"";
	display: table;
	clear: both;
 }
 [class*='col-'] {
	float: left;
	Min-height: 1px;
	padding: 10px;
}
 .col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
 
.col-offset-1 {margin-left: 8.33%;}
.col-offset-2 {margin-left: 16.66%;}
.col-offset-3 {margin-left: 25%;}
.col-offset-4 {margin-left: 33.33%;}
.col-offset-5 {margin-left: 41.66%;}
.col-offset-6 {margin-left: 50%;}
.col-offset-7 {margin-left: 58.33%;}
.col-offset-8 {margin-left: 66.66%;}
.col-offset-9 {margin-left: 75%;}
.col-offset-10 {margin-left: 83.33%;}
.col-offset-11 {margin-left: 91.66%;}
.col-offset-12 {margin-left: 100%;}
 	
section>.container {
	margin: 60px auto;
	width: 100%;
	text-align: center;
}
 .advantages h2 {
	text-transform: uppercase;
	padding: 10px;
}
.advantages p {
	padding: 10px 50px;
}
.advantages {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
}
.background {
	font-size: 100px;
	width: 110px;
	line-height: 100px;
	color: #FFF;
	background-color: #313234;
	border-radius: 15px;
}
.advantages .col-4 div:hover h2 {
	color: #00C7E8;
}
.advantages .col-4 div:hover .background {
	background-color: #00C7E8;
}
.advantages .col-4 div {
	margin:0 auto;
}

.container .row .col-12 h1 {
	text-transform: uppercase;
	font-size: 50px;
	font-weight: 600;
	padding: 70px 0 15px;
}
.container .row .col-12 p {
	max-width: 900px;
	margin: 0 auto;
}
.gallery {
	width: 100%;
	margin: 0 auto;
}
.gallery .row .col-4 {
	padding: 0;
}
.gallery .row .col-2 {
	padding: 0;
}
[class^="img-"] {
	height: 30vh;	
	background-position: center;
	background-size: cover;
}
.layer {
	background-color: rgba(0,0,0, 0.5);
	background-size: cover;
	height: 100%;
	width: 100%;
	display: none;
	text-align: center;
}
.layer > i.fa {
	width: 35px;
	height: 35px;
	line-height: 35px;
	font-size: 30px;
	text-align: center;
	background-color: #FFF;
	border-radius: 5px;
	position: relative;
	transform: translateY(-50%);
	top: 50%;
}
[class^="img-"]:hover > .layer {
	cursor: pointer;
	display: block;
}
.img-1 {
	background-image: url(https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?auto=format&fit=crop&w=1113&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
}
.img-2 {
	background-image: url(https://images.unsplash.com/photo-1501504905252-473c47e087f8?auto=format&fit=crop&w=967&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
}
.img-3 {
	background-image: url(https://images.unsplash.com/photo-1504384764586-bb4cdc1707b0?auto=format&fit=crop&w=1050&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
}
.img-4 {
	background-image: url(https://images.unsplash.com/photo-1434494571168-ab162bce2813?auto=format&fit=crop&w=1050&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
}
.img-5 {
	background-image: url(https://images.unsplash.com/photo-1497366858526-0766cadbe8fa?auto=format&fit=crop&w=1050&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
}
.img-6 {
	background-image: url(https://images.unsplash.com/photo-1504556106489-6d450910aeb3?auto=format&fit=crop&w=1067&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
}
.img-7 {
	background-image: url(https://images.unsplash.com/photo-1482678264299-6eb83b49cb42?auto=format&fit=crop&w=1052&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
}
.img-8 {
	background-image: url(https://images.unsplash.com/photo-1497348411082-7ab34fa26e2a?auto=format&fit=crop&w=1050&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
}
.img-9 {
	background-image: url(https://images.unsplash.com/photo-1484706523581-25ee30e3fe03?auto=format&fit=crop&w=1600&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
}
.img-10 {
	background-image: url(https://images.unsplash.com/photo-1485011062108-85580cbb0d3e?auto=format&fit=crop&w=967&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
}

.crew-1 {
	background-image: url(https://images.pexels.com/photos/33111/author-jewellery-lipstick-eyelashes.jpg?w=800&h=400&auto=compress&cs=tinysrgb);
}
.crew-2 {
	background-image: url(https://images.pexels.com/photos/423364/pexels-photo-423364.jpeg?w=800&h=400&auto=compress&cs=tinysrgb);
}
.crew-3 {
	background-image: url(https://images.pexels.com/photos/415326/pexels-photo-415326.jpeg?w=800&h=400&auto=compress&cs=tinysrgb);
}
.crew-4 {
	background-image: url(https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?w=800&h=400&auto=compress&cs=tinysrgb);
}
.crew {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
	padding-top: 50px;
}
[class^="crew-"] {
	height: 250px;
	width: 250px;
	border-radius: 50%;
	margin-top: 70px;
	margin: 0 auto;
	font-size: 30px;
	background-position: center;
}
.crew .layer {
	background-color: rgba(0,0,0, 0.5);
	background-size: cover;
	height: 100%;
	width: 100%;
	display: none;
	text-align: center;
	border-radius: 50%;
	padding-top: 100px;
	color: #fff;
}
[class^="crew-"]:hover > .layer {
	cursor: pointer;
	display: block;
}
.crew h3 {
	font-size: 30px;
	padding: 15px;
}
.foto-container {
	background-color: #838584;
	position: relative;
	background-size: cover;
	background-position: center;
}
	
.left-margin {
	margin-left: 270px;
}
.foto-container img {
	position: absolute;
	bottom: 0;
}
.foto-container h1 {
	text-transform: uppercase;
	color: white;
	margin: 50px 30px 0px 30px;
}
.foto-container p {
	color: white;
	padding-bottom: 100px;
}
.foto-container > div {
	margin: 50px 120px;
}

.numbers {
	width: 100%;
	text-align: center;
	display: inline-block;
}
.numbers .col-3 {
	padding-top: 100px;
	max-width: 1200px;
}
.numbers h1 {
	font-size: 45px;
}
.numbers p {
	color: #00C7E8;
	font-weight: 600;
	font-size: 22px;
	margin-bottom: 100px;
}

.footer {
	width: 100%;
	text-align: center;
	background-color: #313332;
	color: white;
}
.footer .col-4 { 
	text-align: left;
	display: inline-block;
	
}
.footer > .row {
	max-width: 1200px;
	margin: auto;
	padding-top: 30px;
	padding-bottom: 30px;
}
.footer h1 {
	font-size: 28px;
	font-weight: 600;
	padding-bottom: 20px;
	display :inline-block;
	}
.footer h2 {
	font-size: 20px;
}
.footer p {
	font-weight: 200;
}
.footer i  {
	width: 30px;
	height: 30px;
	line-height: 30px;
	font-size: 15px;
	text-align: center;
	background-color: #00C7E8;
	margin: 15px 20px 20px 0;
}

.line {
	  
	display: inline-block;
    height: 2px;
    width: 70px;
    background-color: white;
    margin-left: 10px;
    margin-bottom: 4px;
    
}
.copy {
	background-color: #252726;
	color: #fff;
	text-align: center;
	height: 50px;
	margin: 0;
}
.copy p {
	padding-top:15px;
}

@media(min-width: 1200px) {
	header>nav ul>li>a {
		font-size: 24px;
	}
	.advantages h2 {
		font-size: 34px;
	}
	.advantages p {
		font-size: 22px;
	}
	.background {
		font-size: 150px;
		width: 170px;
		line-height: 130px;
	}
	.foto-container p {
		font-size: 22px;
	}
	.foto-container h1 {
		margin: 10px 30px 0px 30px;
	}
	.footer p {
		font-size: 22px;
	}
	.footer h1 {
		font-size: 34px;
}
}

@media(min-width: 992px) and (max-width: 1199px) {
	 	header > nav img {
		padding: 20px 20px;
	 	}
	 	header>nav ul>li>a {
		line-height: 74px;
		padding: 0 10px;	
		}
		header>nav>ul {
		margin-right: 30px;
		}
		.slogan h1 {
		padding: 10px 35px 10px 25px;
		font-size: 26px;
		}
		.crew {
		padding-top: 40px;
		}
		[class^="crew-"] {
		height: 170px;
		width: 170px;
		margin-top: 20px;
		}
		.crew h3 {
		font-size: 22px;
		padding: 0px;
		margin-top: 15px;
		}
		.numbers .col-3 {
		padding-top: 10px;
		}
		.numbers h1 {
		font-size: 42px;
		}
		.numbers p {
		font-weight: 600;
		font-size: 26px;
		margin-bottom: 30px;
		}
		.footer > .row {
		padding-top: 0px;
		padding-bottom: 0px;
		}
		.footer i  {
		margin: 10px 10px 5px 0;
		}
	}

@media(min-width: 768px) and (max-width: 991px) {
	
	.col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
	
	header>nav ul>li>a {
		line-height: 55px;
		padding: 0 10px;	
	}
	header>nav>ul {
		margin-right: 30px;
	}
	 header > nav img {
		padding: 10px 20px;
	 }
	.slogan {
		max-width: 400px;
	}
	.slogan h1 {
		padding: 10px 40px 10px 25px;
		text-transform: uppercase;
		font-size: 28px;
		font-weight: 200;
	}
	.circle {
		height: 18px;
		width: 18px;
	}
	.container .row .col-12 h1 {
	    text-transform: uppercase;
	    font-size:
 45px;
	    font-weight: 600;
	    padding: 20px 0 15px;
	}
	.background {
		font-size: 80px;
		width: 90px;
		line-height: 80px;
	}
	.crew {
		padding-top: 20px;
	}
	[class^="crew-"] {
		height: 150px;
		width: 150px;
		margin-top: 10px;
	}
	.crew h3 {
		font-size: 15px;
		padding: 0px;
		margin-top: 15px;
	}
	[class^="img-"] {
		height: 20vh;
	}
	.foto-container p {
		padding-bottom: 10px;
	}
	.foto-container > div {
		margin: 40px 30px;
	}
	.foto-container h1 {
		margin: 80px 30px 0px 30px;
	}
	.numbers .col-3 {
		padding-top: 0;
	}
	.numbers h1 {
		font-size: 40px;
	}
	.numbers p {
		font-weight: 600;
		font-size: 22px;
		margin-bottom: 20px;
	}
	.line {
	    width: 50px;
	}
	.footer h1 {
		font-size: 26px;
		font-weight: 600;
		padding-bottom: 20px;
	}
	.footer h2 {
		font-size: 18px;
	}
	.footer p {
		font-weight: 200;
	}
	.footer > .row {
		padding-top: 0px;
		padding-bottom: 0px;
	}
	.footer i  {
		width: 25px;
		height: 25px;
		line-height: 25px;
		font-size: 15px;
		margin: 15px 5px 10px 0;
	}
	.copy {
		height: 30px;
		margin: 0;
	}
	.copy p {
		padding-top:10px;
	}
}

@media (max-width: 768px) {
	
	[class*="col-"] {
		width: 100%;
    	padding: 12px;
    	float:left;
    }
    header>nav ul {
    	float: none;
    	display: block;
    }
    header>nav ul>li {
 		display: block;
	}
	nav {
		text-align: center;
	}
    header>nav ul>li>a {
		line-height: 50px;
    }
    header > nav img {
		padding-top: 20px;
    }
    .slogan {
		max-width: 300px;
	}
	.slogan h1 {
		font-size: 24px;
		padding: 10px 20px 10px 20px;
	}
	.circle {
	height: 18px;
	width: 18px;
	}

	[class^="crew-"] {
		height: 200px;
		width: 200px;
		margin-top: 20px;
	}
	.container .row .col-12 h1 {
		font-size: 30px;
		font-weight: 600;
		padding-top: 20px;
	}
	
	.foto-container {
		margin: 0 auto;
		text-align: center;
	}
	.left-margin {
		margin-left: 0px;
	}
	.foto-container img {
		position:static;
	}
	.foto-container h1 {
		margin: 10px 30px 0px 30px;
	}
	.foto-container p {
		padding-bottom: 20px;
	}
	.foto-container > div {
	margin: 0px;
	}
	.numbers .col-3 {
		padding-top: 5px;
	}
	.numbers h1 {
		font-size: 30px;
		margin-top: 15px;
	}
	.numbers p {
		font-weight: 600;
		font-size: 18px;
		margin-bottom: 5px;
	}
	.footer h1 {
		font-size: 26px;
		font-weight: 600;
		padding-bottom: 20px;
	}
	.footer h2 {
		font-size: 18px;
	}
	.footer p {
		font-weight: 200;
	}
	.footer > .row {
		padding-top: 0px;
		padding-bottom: 0px;
	}
	.footer i  {
		width: 35px;
		height: 35px;
		line-height: 35px;
		font-size: 20px;
		margin: 25px 15px 10px 0;
		}
}
